.nu-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3050;
    display: flex;
    width: 100vw;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }
  .nu-modal .actions{
    position: absolute;
    right: 15px;
    top: 10px;
    color: #f5f5f5;
      cursor: pointer;
      .fa-times-circle{
        font-size: 27px;
      }
      svg{
        width: 35px;
      height: 35px;
      }
  }
  .backdropStyle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.2);
    padding: 50;
    height: 100%;
    width: 100%;
    z-index: 2000;
    overflow: auto;
  }
  .modalStyle {
    -webkit-box-align: stretch;
    box-align: stretch;
    align-items: stretch;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    transition: transform 0.225s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
    background-color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    max-width: 24em;
    outline: 1px solid transparent;
    overflow: hidden;
    min-width: 630px;
  }
  
  @media screen and (max-width: 450px) {
    .nu-modal {
      top: 68px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3050;
      opacity: 3000;
      display: flex;
      width: 100vw;
      min-height: 95%;
      justify-content: center;
      align-items: center;
      background: #f5f5f5;
      background: rgba(105, 105, 105, 0.9);
      height: 90%;
      bottom: 0;
    }
    .modalStyle {
      width: 92%;
      height: 69%;
      top: 15%;
      position: absolute;
      min-width: 93%;
      max-width: 100%;
      border-radius: 0;
    }
  }
  .close-icon {
    position: absolute;
    top: 0.875rem;
    right: 0.875rem;
    cursor: pointer;
    font-size: 22px;
  }
  .nu-modal.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
  }
  @supports (offset-rotation: 0deg) {
    .nu-modal.off {
      offset-distance: 100%;
    }
  }
  @media (prefers-reduced-motion) {
    .nu-modal {
      offset-path: none;
    }
  }
  .nu-modal h2 {
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0;
    font-size: 14px;
    padding-bottom: 10px;
  }
  
  .nu-modal .bx {
    font-size: 21px;
    padding-top: 0px;
  }
  
  .nu-modal .img-cont {
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }
  .nu-modal .form-content {
    padding-top: 10px;
    overflow: auto;
    height: 300px;
  }
  .nu-modal .content {
    padding: 1rem;
  }
  
  .nu-modal .actions button {
    border: 0;
    background: #dadada;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
  }
  #centered-toggle-button {
    position: absolute;
  }
  .nu-modal .extra-btn {
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 0;
    padding-left: 67%;
  }
  .nu-modal .table th,
  .table td {
    padding: 0;
    vertical-align: top;
    // border-top: 1px solid #dfe3e7;
  }
  
  .nu-modal .basic-singl {
    padding: 0;
  }
  .model-head-container {
    align-items: center;
    background-color: #19191a;
    border-bottom: 1px solid #dadce0;
    padding: 16px 16px 13px 24px;
    .model-title-container {
      letter-spacing: 0.00625em;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
      align-items: center;
      display: flex;
      max-width: 80%;
      .model-title {
        margin-right: 14px;
        color: #f3f5f8;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .project-mem {
    display: flex;
    font-size: 13px;
    color: #475f7b;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  .img-cont {
    padding-left: 24px;
    top: 8px;
    left: 7px;
  }
  .select-member__single-value {
    color: #475f7b !important;
  }
  .remove-icon {
    font-size: 14px !important;
  }
  .user-create-model {
    min-width: 670px !important;
  }
  
  .Change-password-modal {
    .form-change {
      padding: 40px 40px 17px 40px;
    }
    .controls .control-input {
      border-top: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
      border-radius: 0 !important;
      font-size: 13px !important;
      color: #475f7b;
      box-shadow: unset !important;
      min-height: 22px;
    }
  }
  