@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100%;
  background: #E3F2FD;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
//   box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  .logo {
    // display: flex;
    // align-items: center;
    // margin: 0 24px;
    background-color: #fff;
    .menu-icon {
      color: #333;
      font-size: 24px;
      margin-right: 14px;
      cursor: pointer;
    }
    .logo-name {
      color: #333;
      font-size: 22px;
      font-weight: 500;
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding-top: 70px; /* Adjust according to your design */
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  .logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 260px;
    display: flex;
    align-items: center;
    padding-left: 2px;
    background-color: #fff;
    margin-left: 24px;
  }
  .menu-icon {
    color: #333;
    font-size: 24px;
    cursor: pointer;
  }
  .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    // margin-left: 14px; /* Adjust margin as needed */
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
    overflow-y: auto; /* Add scrolling */
    max-height: calc(100vh - 140px); /* Adjust according to your design */
  }
  .lists {
    list-style-type: none; /* Remove list item markers */
    padding: 0;
    margin: 0;
  }
  .list {
    margin-bottom: 20px; /* Adjust spacing between list items */
  }
  .nav-link {
    display: flex;
    align-items: center;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
    color: #707070;
  }
  .icon {
    margin-right: 14px;
    font-size: 20px;
  }
  .link {
    font-size: 16px;
    font-weight: 400;
  }
  .nav-link:hover {
    background-color: #0953a0;
    color: #fff;
  }
  .dropdown {
    list-style-type: none;
    padding-left: 20px;
  }
  .dropdown-link {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: inherit;
  }
  .arrow {
    font-size: 16px;
    transition: transform 0.3s;
  }
  .bx-chevron-up {
    transform: rotate(180deg);
  }
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  .overlay.active {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
    width: 100%;
  }
  .bottom-content {
    margin-top: auto;
    padding-left: 0;
    list-style-type: none;
  }
}