$background-color: #1E1E2D;
$form-background: #25293C;
$primary-color: #6C5CE7;
$text-color: #fff;
$secondary-text-color: #B3B3B3;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../assets/images/leslie-bg.jpg");
  background-repeat: round;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 290px; /* Adjust the width as needed */
  height: 105px; /* Adjust the height as needed */
  background: url("../../assets/images/logo-removebg-preview.png") no-repeat;
  background-size: contain;
}
.form-container {
  background-color: #959caf;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 400px;
}
.title {
  color: #0953a0;
  margin-bottom: 20px;
}
.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
}
.button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #0953a0;
  color: $text-color;
  cursor: pointer;
}
.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary-text-color;
}
.social-login {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.social-button {
  background: none;
  border: none;
  color: $text-color;
  cursor: pointer;
  font-size: 20px;
}
.formName {
  margin: 25px 0;
  text-align: center;
}